* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border-bottom: solid black 1px;
}

#welcome{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border: solid black 1px;
    justify-content: center;
    align-self: center;
    height: 16%;
}

#logo{
    border: solid black 1px;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 5rem;
    width: 5rem;
    float: left;
}

#heading{
    text-align: center;
}

#heading h1{
    text-decoration: underline 1px;
}

#landing{
    height: 85vh;
    background-image: url(../images/istockphoto-1291177121-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#form{
    border: solid black 1px;

}

#form-heading{
    text-align: center;
    text-decoration: underline black 1px;
}

#button{
    height: 1rem;
    width: 2rem;
}

footer{
    border-top: solid black 1px;
}